.cabecalho{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',
    font-size: xx-large;
}

.corpo{
    background-color: rgb(150, 116, 223);
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rodape{

}